.nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav li {
  float: left;
  margin: 0;
  padding: 0;
  font-family: 'Mako', Helvetica;
  font-size: 20px;
}

.nav li a {
  display: block;
  padding: 8px;
  background-color: #f2f2f2;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #737373;
  color: #f2f2f2;
  border-style: solid;
  padding: 5px;
}

.nav li.dropdown {
  display:inline-block;
}

.nav .dropdown-content {
  display: none;
}

.nav .dropdown-content a{
  display: block;
  text-align: left;
  text-decoration: none;
}

.nav .dropdown:hover .dropdown-content {
  display: block;
}
