.nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  sizing: border-box;
  overflow: hidden;
  width: 100%;
  background-color: #f2f2f2;
}

.nav li {
  float: right;
  font-family: "Pavanam", Helvetica;
  font-size: 20px;
}

.nav li a {
  display: block;
  padding: 15px;
  background-color: #f2f2f2;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #737373;
  color: #f2f2f2;
  border-style: solid;
  padding: 10px;
}

p, h1, h2, h3, .calc, .contact-form, #coursework, #address {
  width: 100%;
  font-family: "Pavanam", Helvetica;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
}

.projects  {
    list-style-type: none;
    background-color: #f2f2f2;
    max-width: 150px;
    margin-left: 10px;

}

.projects li, .applets li {
  font-family: "Pavanam", Helvetica;
}

.projects li a {
  text-decoration: none;
}

.applets {
  list-style-type: disk;
}

#coursework {
  list-style-type: disc;
}

#profiles {
  padding: 20px;
}
