ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav ul {
  text-align: center;
}

li {
  float: left;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  padding: 8px;
  background-color: #60809f;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

li a:hover {
  background-color: #e6f2ff;
  color: #60909f;
}
