body, html {
  height: 100%;
  margin: 0;
}

.container {
  margin-top: 20px;
}

.background-img {
  background-image: url("../img/background.png");
  height: 100%;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-container {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, .contact-form {
  width: 100%;
  font-family: "Pavanam", Helvetica;
}

.projects  {
  list-style-type: none;
  background-color: #f2f2f2;
  max-width: 150px;
  margin-left: 10px;
}


.project-section {
  margin: 30px;
}

.my-projects {
  margin-bottom: 50px;
}

.unordered-list {
  list-style-type: disc;
}

.centered {
  float: none;
  margin: 0 auto;
}

.no-resize {
  resize: none;
  height: 100px;
}

.contact-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cursor-pointer {
  cursor: pointer;
}
