body, html {
  height: 100%;
  margin: 0;
  padding-top: 30px;
}

.container {
  margin-top: 20px;
  padding-bottom: 30px;
}

.background-img {
  background-image: url("../img/background.png");
  height: 100%;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-container {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, .contact-form {
  width: 100%;
  font-family: "Pavanam", Helvetica;
}

.projects  {
  list-style-type: none;
  background-color: #f2f2f2;
  max-width: 150px;
  margin-left: 10px;
}

.project-section {
  margin: 30px;
}

.my-projects {
  margin-bottom: 50px;
}

.unordered-list {
  list-style-type: disc;
}

.centered {
  float: none;
  margin: 0 auto;
}

.no-resize {
  resize: none;
  height: 100px;
}

.contact-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-img-bottom {
  width: 100%;
  height: 50vw;
  object-fit: contain;
}

.interests-row {
  padding-left: 40px;
}

.interests-list {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 5px;
}

.interests-list li {
  font-weight: normal;
}

/* Scrolling */

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#back-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#back-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#back-to-top:hover i {
  color: #fff;
  top: 5px;
}

/* Icons */

.fa-linkedin-in, .fa-github, .fa-file {
  color: #c1c1c1;
  padding-right: 10px;
}

.project-image {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
